$light-100: hsl(0, 0%, 100%);
$light-200: hsl(0, 0%, 90%);
$light-300: hsl(0, 0%, 80%);

$dark-100: hsl(0, 0%, 30%);
$dark-200: hsl(0, 0%, 20%);
$dark-300: hsl(0, 0%, 10%);
$dark-400: hsl(0, 0%, 5%);

$yellow: rgb(205, 218, 33);

$clr-primary:       $dark-400;
$clr-secondary:     $light-300;
$clr-yellow:        $yellow;